@page "/"

<div class= "card">
	<div class= "card-header">
		<h1> Registo </h1>
	</div>

	<div class="card-body">
		<label>OcupacionID: </label><br>
		<input type="text" name = "OcupacionID"><br>
		<br>
		<label>Descripcion: </label><br>
		<Input type="text" name = "Descripcion"><br>
		<br>
	</div>

	<div class="model-footer">
		<button type="button" class="btn btn-primary"<span class ="oi oi-file"</span>Nuevo</button>
		<button type="button" class="btn btn-success"<span class ="oi oi-delete"</span>Guardar</button>
		<button type="button" class="btn btn-danger"<span class ="oi oi-document"</span>Eliminar</button>
	</div>

</div>



