@page "/"

<div class= "card">
	<div class= "card-header">
		<h1> Registo </h1>
	</div>

	<div class="card-body">
		<label>OcupacionID: </label><br>
		<input type="text" name = "OcupacionID"><br>
		<br>
		<label>Descripcion: </label><br>
		<Input type="text" name = "Descripcion"><br>
		<br>
	</div>

	<div class="card-footer">
		<button type="button" class="btn btn-primary">Nuevo</button>
		<button type="button" class="btn btn-success">Guardar</button>
		<button type="button" class="btn btn-danger">Eliminar</button>
	</div>

</div>



